@charset "UTF-8";

/*  //compornent  */
/*  btns_flame  */
.btns {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  // margin: 10px 0 40px 50px;
  margin: 20px 0 40px 40px;
  width: 16%;
  @include media(ltb) {
    margin: 10px 0 40px 60px;
    width: 25%;
  }
  @include media(tb) {
    align-items: center;
    margin: 10px auto;
    width: 30%;
  }
  @include media(sp) {
    align-items: center;
    margin: 10px auto;
    width: 50%;
  }
}

/*  btns_flame_row  */
.btns_row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  margin: 20px 0 40px 20px;
  width: 100%;
  @include media(tb) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 12px auto;
  }
  @include media(sp) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 16px auto;
    width: 80%;
  }
}

/*  botton */
.btn {
  position: relative;
  display: block;
  width: 200px;
  margin: 10px;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  background-color: $btn;
  color: $white;
  border: 1px solid $btn;
  font-size: 1em;
  font-weight: 700;
  @include media(sp) {
    font-size: 0.9em;
  }
}

/*  hover */
.btn:hover {
  background-color: $white;
  color: $btn;
  border: 1px solid inherit;
  font-size: 1em;
  font-weight: 800;
}

/*  Javascript's pageTopBtn  */
.fixed-btn {
  display: block;
  position: absolute;
  margin-top: 125px;
  margin-right: 50px;
  margin-left: calc(100% - 100px);
  // margin-bottom: 50px;
  background-color: $btn;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: $white;
  z-index: 999;
  @include media(ltb) {
    margin-top: 36px;
    margin-right: 10px;
    margin-left: calc(100% - 60px);
  }
  @include media(tb) {
    margin-top: 36px;
    margin-right: 50px;
    margin-left: calc(100% - 60px);
  }
  @include media(sp) {
    margin-top: 388px;
    margin-right: 10px;
    margin-left: calc(100% - 60px);
  }
}
.arrow {
  display: block;
  position: absolute;
  font-size: 0.95rem;
  text-align: center;
  top: 8;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 13px auto;
  color: $white;
  &-top {
    display: block;
    position: absolute;
    color: $white;
    width: 0.9em;
    height: 0.9em;
    top: 10;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-45deg);
    &::before {
      content: "";
      position: absolute;
      background-color: currentColor;
      border-radius: 0.1em;
      top: 0;
      left: 0;
      right: 0;
      height: 0.1em;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: currentColor;
      border-radius: 0.1em;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0.1em;
    }
  }
}
#scrollPageTop {
  &:hover {
    background-color: rgba($color: $btn, $alpha: 0.8);
  }
}

.link-line:hover {
    border-bottom-color: $white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.icn-external-link::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(../asset/icon-external-link-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: baseline;
    margin: 0 0 0 10px;
}
